* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Header */
#clone-mobile.active {
    transform: translateX(100%);
}

.clone-mobile {
    box-shadow: 1.2rem 1rem 3rem rgba(0, 0, 0, 0.03);
    transition: transform 0.3s linear;
    left: -65%;
}

.box-bg-menu {
    background-color: rgb(235 230 230 / 60%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 40;
}


/* carosel */
.owl-one.owl-carousel .owl-nav button {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-one.owl-carousel .owl-nav button span {
    display: block;
    width: 100%;
    height: 100%;
}

.owl-one.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    font-size: 50px;
    color: white;
    transform: translateY(-100%);
}

.owl-one.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    top: 50%;
    font-size: 50px;
    color: white;
    transform: translateY(-100%);
}

.owl-one.owl-carousel .owl-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    gap: 10px;
}

.owl-one.owl-carousel button.owl-dot {
    background-color: white;
    bottom: 20px;
    font-size: 50px;
    color: white;
    width: 15px;
    height: 15px;
}

.owl-one.owl-carousel .owl-dots .active {
    background-color: #60B301;
}

/* Banner */
.banner-items {
    font-family: 'Dancing Script';
    text-shadow: 1px 1px black;
}

/* Product */
.title {
    font-family: 'Dancing Script';
}

.product-items-content .item-img:hover .add-item {
    background-color: rgba(196, 196, 196, 0.45);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.promotion-text::before {
    content: '';
    position: absolute;
    top: 15px;
    background-color: black;
    width: 82px;
    height: 2px;
}

.promotion-text-box {
    text-shadow: 1px 1px black;
}

/* footer */

.footer-title {
    font-family: 'Roboto Slab', serif;
}